body {
    font-family: "Mukta", sans-serif;
}

/* Modal */
.modal {
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
}
.modal-container {
    display: flex;
    background-color: white;
    width: 26rem;
    padding: 1.5rem;
    border-radius: 20px;
    flex-direction: column;
}

.modal-container > h1 {
    text-align: center;
}

.book-form > ul {
    list-style: none;
}


#add-button-book {
    background-color: blue;
    color: white;
    border-radius: 10px;
}

.modal-container > #close-modal-button {
    display: flex;
    background-color: white;
    border: none;
    justify-content: flex-end;
}



